@{
    ViewData["Title"] = "About";
}
<!--<h2 id="tweettext">@ViewData["Title"].</h2>
<h3 id="tweettext">@ViewData["Message"]</h3>-->

<div class="col-md-12" style="margin-top:50px">
    <div class="col-md-4">
        <div class="col-md-12" id="page">
            <img class="col-md-6" id="dev" src="~/images/PIE.svg" alt="Pie" />
            <div class="col-md-6">
                <h2 class="col-md-12" id="tweettext" style="text-align:center;">Nick Olson</h2>
                <hr />
                <h3 class="col-md-12" id="tweettext">About the Developer.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4"id="box">
        <div class="col-md-12" id="page">
            <img class="col-md-6" id="dev" src="~/images/JL.png" alt="Pie" />
            <div class="col-md-6">
                <a class="col-md-12" href="https://github.com/JLRaffaele" id="tweettext"style="text-align:center;">Jean-Luc Raffaele</a>
                <hr />
                <h3 class="col-md-12" id="tweettext">About the Developer.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12" id="page">
            <img class="col-md-6" id="dev" src="~/images/SY.png" alt="Pie" />
            <div class="col-md-6">
                <h2 class="col-md-12" id="tweettext" style="text-align:center;">Sovanny Yun</h2>
                <hr />
                <h3 class="col-md-12" id="tweettext">About the Developer.</h3>
            </div>
        </div>
    </div>
</div>

