@{
    ViewData["Title"] = "About";
}
<h2 id="tweettext">@ViewData["Title"].</h2>
<h3 id="tweettext">@ViewData["Message"]</h3>

<div class="col-md-12">
    <div class="col-md-3">
        <div id="page">
            <img id="svg-graph" src="~/images/PIE.svg" alt="Pie" />
            <a id="tweettext">About Dev</a>
        </div>
    </div>
    <div class="col-md-3">
        <div id="page">
            <img id="svg-graph" src="~/images/PIE.svg" alt="Pie" />
            <a id="tweettext">About Dev</a>
        </div>
    </div>
    <div class="col-md-3">
        <div id="page">
            <img id="svg-graph" src="~/images/PIE.svg" alt="Pie" />
            <a id="tweettext">About Dev</a>
        </div>
    </div>
    <div class="col-md-3">
        <div id="page">
            <img id="svg-graph" src="~/images/PIE.svg" alt="Pie" />
            <a id="tweettext">About Dev</a>
        </div>
    </div>
</div>
