@{
    ViewData["Title"] = "#DATA";
}
<div>
    <table class="center">
        <tr>
            <td><a><img id="svg-graph" src="~/images/PIE.svg" alt="Pie"/></a></td>
            <td><img id="svg-graph" src="~/images/BAR.svg" /></td>
            <td><img id="svg-graph" src="~/images/LINE.svg" /></td>
        </tr>
        <tr>
            <td><img id="svg-graph" src="~/images/LINE.svg" /></td>
            <td><img id="svg-graph" src="~/images/PIE.svg" /></td>
            <td><img id="svg-graph" src="~/images/BAR.svg" /></td>
        </tr>
        <tr>
            <td><img id="svg-graph" src="~/images/BAR.svg" /></td>
            <td><img id="svg-graph" src="~/images/LINE.svg" /></td>
            <td><img id="svg-graph" src="~/images/PIE.svg" /></td>
        </tr>
    </table>
</div>