@{
    ViewData["Title"] = "#DATA";
}
<div id="middle">
    <div id="backimage">
        <p id="title">#DATA</p>
    </div>
    <div id="tfheader">
          
            <input id="search" type="text" class="tftextinput" placeholder="Enter Query Here" name="q" size="21" maxlength="120"><input id="submit" type="submit" class="tfbutton" value=" ">
         
    </div>
    <div><p id="tweets"></p></div>
    <div style="margin-top:36vh"></div>
</div>

<script type="text/javascript">
    $ = jQuery;
    function handleResults(data) {
        $("#tweets").text(data);
    };

    $('#submit').click(function () {
        $.ajax('@Url.Action("search", "Home")', {
            method: 'POST',
            data: {search: $('#search').val()},
            success: handleResults
        });
    });
</script>