@{
    ViewData["Title"] = "#DATA";
}

<style>
    #scroll-animate
{
  overflow: hidden;
  display:none;
}

.scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;

}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

.graphstylestart
{
  width: 100%;
  height: 100%;
  background: #414042;
  top: 0;
  position: fixed;
  /*z-index: -4;*/
}

.graphstyle
{
  width: 100%;
  /*height: 100%;*/
  background: #414042;
  /*position: relative;*/
  z-index: -1;
}

#graph1
{
    z-index:-4;
    margin-top:75px;
}

#graph2
{
    z-index:-2;
    position: relative;
}

#graph3
{
    z-index:0;
    position: relative;
}

#graph4
{
    z-index:2;
    position: relative;
}
#content1
{
    z-index:-3;
}

#content2
{
    z-index:-1;
}

#content3
{
    z-index:1;
}

#content4
{
    z-index:-3;

}

.content
{
  /*height: 1000px;*/
  /*min-height: 1000px;*/
  background: #353535;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header h1{}

.content h1{
  /*line-height: 1000px;*/
  color: #999;
}

footer h1
{
  line-height: 300px;
}

/*.graphstylestart,
.graphstyle,*/
.scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
      transition-duration: 1s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
</style>

<div id="middle">
    <div id="searchbox">
    <div class="col-md-4" id="backimage">
        <p id="title">#DATA</p>
    </div>
    <div class="col-md-12" id="tfheader">
        <input id="search" type="text" class="tftextinput" placeholder="Enter Query Here" name="q" size="21" maxlength="120"><input id="submit" type="submit" class="tfbutton" value=" ">
    </div>
    </div>
    <div class="loading-container">
        <div class="loading">Loading...</div>
    </div>
    <!--<div id="graph">
        <div class="loading-container">
            <div class="loading">Loading...</div>
        </div>
        <div id="parallax"></div>
        <div id="explanation">
            <p id="tweettext">Here is a pie chart!</p>
        </div>
    </div>-->
    <div id="scroll-animate">
        <div class="scroll-animate-main">
            <section class="graphstylestart" id="graph1"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph2"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph3"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph4"></section>

        </div>
        <div class="scroll-animate-main">
            <div class="wrapper-parallax">

                <section class="content" id="content1">
                    <h1>Content 1</h1>
                </section>

                <section class="content" id="content2">
                    <h1>Content 2</h1>
                </section>

                <section class="content" id="content3">
                    <h1>Content 3</h1>
                </section>

                <section class="content" id="content4">
                    <h1>Content 4</h1>
                </section>
            </div>
        </div>
        <div class="col-md-12" id="footerSpace" style="margin-top:36vh"></div>
    </div>
</div>
<script type="text/javascript">
    $ = jQuery;
    $('.loading-container').hide();
    $('#explanation').hide();

    function handleResults(data) {
        //$("#tweettext").text(JSON.stringify(data));
        $('#searchbox').hide();
        $('.loading-container').hide();
        $('#scroll-animate').show();
        piechart(d3, data, $('#graph1').height()-100, '#graph1');//Math.min($("#graph").height(), $("#graph").width())-200);
        //piechart(d3, data, $('#graph2').height() - 100, '#graph2');
        $.ajax('@Url.Action("timejson", "Graph")', {
            method: 'GET',
            success: handleResults2
        });
    };

    function handleResults2(datum) {
        //$("#tweettext").text(JSON.stringify(datum));
        timegraph(d3, datum, $('#graph2').height() - 100, '#graph2');
        $.ajax({
            url: '@Url.Action("pinmapjson", "Graph")',
            type: "GET",
            success: handleResults3
        });
    };

    function handleResults3(data)
    {
        pinmap(data, '#graph3');
        $.ajax({
            url: '@Url.Action("bubbleChartJson", "Graph")',
            type: "GET",
            success: handleResults4
        });
    }

    function handleResults4(data)
    {
        bubblechart(data,$('#graph4').height()-100, '#graph4');

    }

    function slideUp() {
        var h = $(window).height() * .1,
            height = $(window).innerHeight(),
            contentHeight = height / 4;

        $("#title").animate({ 'font-size': '5vmax' }, 500);
        $("#tfheader").animate({ 'margin-top': '0vh' });
        $('.graphstylestart').height(height-contentHeight);
        $('.graphstyle').height(height - contentHeight);
        $("#graph2").css('margin-top', height);
        $("#graph3").css('margin-top', height * 2);
        $("#graph4").css('margin-top', height * 3);
        $("#content2").css('margin-top', height - contentHeight);
        $("#content3").css('margin-top', height - contentHeight);
        $("#content4").css('margin-top', height -contentHeight);
        $('.content').height(contentHeight);
        setParallax();
        $("#middle").animate({ 'margin-top': '0vh' }, 700, 'swing', function () {
            $('.loading-container').show();
            $('#explanation').show({ complete: function () { $("#footerSpace").animate({ 'margin-top': '0vh' }, 'fast'); } })
        });
    };



    $('#submit').click(function () {
        if ($('#search').val() != 'undefined') {
            //$('#info').hide();

            $('.loading-container').show();
            slideUp();
            $.ajax('@Url.Action("search", "Graph")', {
                method: 'POST',
                data: { search: $('#search').val() },
                success: handleResults
            });

        }
    });
    $('#search').keypress(function(e){
        if(e.which == 13){
            $('#submit').click();
        }
    });

    function scrollFooter(scrollY, heightFooter) {
        //console.log(scrollY);
        //console.log(heightFooter);
        

        if (scrollY >= heightFooter) {
            $('footer').css({
                'bottom': '0px'
            });
        }
        else {
            $('footer').css({
                'bottom': '-' + heightFooter + 'px'
            });
        }
    }

    function setParallax() {
        var windowHeight = $(window).height(),
            footerHeight = $('footer').height(),
            heightDocument = (windowHeight) - ($('.content').height());


        $('#scroll-animate, .scroll-animate-main').css({
            'height': ((windowHeight*4)) + 'px'
        });



        $('.wrapper-parallax').css({
            'margin-top': (windowHeight - (windowHeight/4)) + 'px'
        });

        //scrollFooter(window.scrollY, footerHeight);


        window.onscroll = function () {
            var scroll = window.scrollY;

            $('.scroll-animate-main').css({
                'top': '-' + scroll + 'px'
            });
            console.log("scroll: " + (-scroll));
            console.log("windowHeight: " + (-windowHeight));
            console.log("windowHeight2: " + (-windowHeight * 2));
            console.log("windowHeight3: " + (-windowHeight * 3));
            console.log("windowHeight4: " + (-windowHeight * 4));

            if (-scroll <= -windowHeight)
            {
                if (-scroll <= -(windowHeight*2)) {
                    if (-scroll <= -(windowHeight*3)) {
                        //$('#graph4').removeClass("scroll-animate-main");
                        $('#graph4').css('top', '0px');

                        $('#graph4').css('margin-top', '50px');
                        $('#graph4').css('position', 'fixed');
                    }
                    else{
                        //$('#graph3').removeClass("scroll-animate-main");
                        $('#graph3').css('top', '0px');

                        $('#graph3').css('margin-top', '50px');
                        $('#graph3').css('position', 'fixed');
                    }
                }
                else{
                    //$('#graph2').removeClass("scroll-animate-main");
                    $('#graph2').css('top', '0px');

                    $('#graph2').css('margin-top', '50px');
                    $('#graph2').css('position', 'fixed');
                }
            }
                //fix
            else if (-scroll >= -(windowHeight*3))
            {
                if (-scroll >= -(windowHeight*2)) {
                    if (-scroll >= -(windowHeight)) {
                        //$('#content3').css('margin-top', heightDocument );
                        $('#graph2').css('top', '');
                        $('#graph2').css('margin-top', windowHeight);
                        $('#graph2').css('position', 'relative');

                        /*if ($('#graph2').hasClass("scroll-animate-main")==false)
                            $('#graph2').addClass("scroll-animate-main");*/
                    }
                    
                    //$('#content3').css('margin-top', heightDocument );
                    $('#graph3').css('top', '');
                    $('#graph3').css('margin-top', windowHeight*2);
                    $('#graph3').css('position', 'relative');

                        /*if ($('#graph3').hasClass("scroll-animate-main")==false)
                            $('#graph3').addClass("scroll-animate-main");*/
                    
                }
                
                //$('#content3').css('margin-top', heightDocument );
                $('#graph4').css('top', '');
                $('#graph4').css('margin-top', windowHeight*3);
                $('#graph4').css('position', 'relative');
                    
                    /*if($('#graph4').hasClass("scroll-animate-main")==false)
                        $('#graph4').addClass("scroll-animate-main");*/
                
            }
        
            //scrollFooter(scroll, footerHeight);
        }
    }
</script>

