@{
    ViewData["Title"] = "#DATA";
}
<div class="col-md-12" id="middle">
    <div class="col-md-4"  id="backimage">
        <p id="title">#DATA</p>
    </div>
    <div class="col-md-12" id="tfheader">
        <input id="search" type="text" class="tftextinput" placeholder="Enter Query Here" name="q" size="21" maxlength="120"><input id="submit" type="submit" class="tfbutton" value=" ">
    </div>
    <div class="col-md-12" id="tweets">
        <div class="col-md-12" id="graph">
                <div class="loading-container">
                    <div class="loading">Loading...</div>
                </div>
                <div id="chart" class="col-md-6 img-responsive" style="margin-top:20px"></div>
                <div id="paragraph" class="col-md-6">
                    <h1 id="tweettext">Commonly Associated Hashtags</h1>
                    <p id="tweettext">This graph shows the top 5 hashtags that are used in conjunction with the search term.</p>
                </div>
            <hr>
        </div>
    </div>
    <div class="col-md-12" id="footerSpace"style="margin-top:36vh"></div>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>



<script type="text/javascript">
    $ = jQuery;

    function piechart(d3, dataset,size) {
        var donutWidth = size/6;
        
            var width = size;
            var height = size;
            var radius = size / 2;

            var color = d3.scaleOrdinal()
                .range(['#E1004C', '#00A47F', '#FF6200', '#70E500', '#00644E']);

            var svg = d3.select('#chart')
              .append('svg')
              .attr('width', width)
              .attr('height', height)
              .append('g')
              .attr('transform', 'translate(' + (width / 2) +
                ',' + (height / 2) + ')');

            var arc = d3.arc()
              .innerRadius(radius-donutWidth)
              .outerRadius(radius);

            var pie = d3.pie()
              .value(function(d) { return d.data; })
              .sort(null);

            var path = svg.selectAll('path')
              .data(pie(dataset))
              .enter()
              .append('path')
              .attr('d', arc)
              .attr('fill', function(d) {
                  return color(d.data.title);
              });

            var legendRectSize = size/16;
            var legendSpacing = size/24;
            
            var legend = svg.selectAll('.tweettext')
                  .data(color.domain())
                  .enter()
                  .append('g')
                  .attr('transform', function (d, i) {
                      var height = legendRectSize + legendSpacing;
                      var offset = height * color.domain().length / 2;
                      var horz = -2 * legendRectSize;
                      var vert = i * height - offset;
                      return 'translate(' + horz + ',' + vert + ')';
                  });

            legend.append('rect')
                  .attr('width', legendRectSize)
                  .attr('height', legendRectSize)
                  .style('fill', color)
                  .style('stroke', color);

            legend.append('text')
                  .attr('id','tweettext')
                  .attr('x', legendRectSize + legendSpacing)
                  .attr('y', legendRectSize - legendSpacing)
                  .text(function (d) { return d; });

    } (window.d3);

    function handleResults(data) {
        //$("#tweettext").text(JSON.stringify(data));
        $('.loading-container').hide();
        //$('#chart').empty();
        piechart(d3,data,Math.min($("#graph").height(), $("#graph").width())-100);
    };
    function slideUp() {
        var h = $(window).height() * .1;

        $("#title").animate({ 'font-size': '5vmax' }, 500);
        $("#tfheader").animate({ 'margin-top': '0vh' });
        $("#middle").animate({ 'margin-top': '0vh' }, 700, 'swing', function () {
            //$('#options').slideDown({
               // complete:
                    //function () {
                        $('#tweets').show({ complete: function () { $("#footerSpace").animate({ 'margin-top': '0vh' }, 'fast'); } })
                    //}
            //})
        });
            
    };


    //$(document).ready(function () {

    //});


    $('#submit').click(function () {
        if ($('#search').val() != 'undefined') {
            slideUp();
            $.ajax('@Url.Action("search", "Graph")', {
                method: 'POST',
                data: { search: $('#search').val() },
                success: handleResults
            });
        }
    });
    $('#search').keypress(function(e){
        if(e.which == 13){
            $('#submit').click();
        }
    });
</script>