@{
    ViewData["Title"] = "#DATA";
}

<style>
 #scroll-animate
{
  width:100%;
  overflow: hidden;
  display:none;
  z-index:1;
}

.scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
  z-index:1;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

#graphtitle
{
    margin-top:10px;
    margin-bottom:10px;
    z-index:1;
    /*position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0%);*/
    text-align:center;
    color:#9D9D9D;
}

.graphstylestart
{
  /*width: 100%;*/
  height: 100%;
  background: #414042;
  left:50%;
  top: 0;
  position: fixed;
  padding-left:5vw;
  padding-right:5vw;
  z-index:1;
  transform:translateX(-50%);
  /*z-index: -4;*/
}

.datatext
{
    color:#9D9D9D;
}
.graphstyle
{
  width: 100%;
  background: #414042;
  padding-left:5vw;
  padding-right:5vw;
}

#graph1
{
    z-index:1;
    transform: translate(-100%,0%);
}

#graphfavorites
{
    z-index:1;
    transform: translate(0%,0%);
}

#graph2
{
    z-index:1;
    position: relative;
}

#graph3
{
    z-index:1;
    position: relative;
}

#graph4
{
    z-index:1;
    position: relative;
}
#graph5
{
    z-index:1;
    position: relative;
    padding-left:0vw;
    padding-right:0vw;
    width:105%;
}
#content1
{
    z-index:1;
}

#content2
{
    z-index:1;
}

#content3
{
    z-index:1;
}

#content4
{
    z-index:1;
}
#content4
{
    z-index:1;
}

.content
{
  background: #353535;
  position: relative;
  padding-left:5vw;
  padding-right:5vw;
  box-shadow: 0px -5px 20px  rgba(0, 0, 0, 0.5);
  text-align:left;
  vertical-align:middle;
  margin-top:10px;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 0px;
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

footer h1
{
  display:none;
  line-height: 300px;
}

.scroll-animate-main
{

  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
      transition-duration: 1s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
    keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

</style>

<div id="middle">
    <div id="searchbox">
    <div class="col-4" id="backimage">
        <p id="title">#DATA</p>
    </div>
    <div class="col-12" id="tfheader">
        <input id="search" type="text" class="tftextinput" placeholder="Enter Query Here" name="q" size="21" maxlength="120"><input id="submit" type="submit" class="tfbutton" value=" ">
    </div>
    </div>
    <div class="loading-container">
        <div class="loading">Loading...</div>
    </div>
    <div id="scroll-animate">
        <div class="scroll-animate-main">
            <div class="col-6 graphstylestart" id="graph1" style="">
                <p id="graphtitle">Commonly Used Hashtags</p>
            </div>
            <div class="col-6 graphstylestart" id="graphfavorites" style="">
                <p id="graphtitle">Hashtags With The Most Favorites</p>
            </div>
        </div>
        <div class="scroll-animate-main">
            
            <section class="graphstyle" id="graph2"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph3"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph4"></section>

        </div>
        <div class="scroll-animate-main">
            <section class="graphstyle" id="graph5"></section>

        </div>

        <div class="scroll-animate-main" style="pointer-events: none;">
            <div class="wrapper-parallax" style="pointer-events: none;">

                <section class="content" id="content1">
                    <div class="col-6">
                        <p class="datatext" id="content1left">Content 1</p>
                    </div>
                    <div class="col-6">
                        <p class="datatext" id="content1right"></p>
                    </div>
                </section>

                <section class="content" id="content2">
                    <p>Content 2</p>
                </section>

                <section class="content" id="content3">
                    <p>Content 3</p>
                </section>

                <section class="content" id="content4">
                    <p>Content 4</p>
                </section>

                <section class="content" id="content5">
                    <p>Content 5</p>
                </section>
            </div>
        </div>
        <!--<div class="col-md-12" id="footerSpace" style="margin-top:36vh"></div>-->
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</div>
<script type="text/javascript">
    $ = jQuery;
    $('.loading-container').hide();
    $('#explanation').hide();
    var windowsize = $(window).height(),
        points = [windowsize, windowsize * 2, windowsize * 3,windowsize * 4],
        checks = [false, false, false, false],
        graphs = ['#graph2', '#graph3', '#graph4', '#graph5'];

    function handleResults(data) {
        $('#searchbox').hide();
        $('.loading-container').hide();
        $('#scroll-animate').show();
        $('#content1left').text(data[0].text);
        $('#content1right').text(data[1].text);
        $('#content2').text(data[2].text);
        $('#content3').text(data[3].text);
        $('#content4').text(data[4].text);
        $('#content5').text(data[5].text);
        $('.graphstylestart').css('top', $('.navbar').height());
        piechart(d3, data[0].data, $('#graph1').height() - 100, '#graph1');
        //$('#graphfavorites').css('margin-left', $('.scroll-animate-main').width() - ($('#graph1').width() * 2));
        piechart(d3, data[1].data, $('#graphfavorites').height() - 100, '#graphfavorites');
        timegraph(d3, data[2].data, $('#graph2').height() - 100, '#graph2');
        pinmap(data[4].data, $('#graph3').height(), '#graph3');
        bubblechart(data[3].data, $('#graph4').height() - 100, '#graph4');
        gallery(data[5].data, 0, '#graph5');
    };

    function slideUp() {
        var h = $(window).height() * .1,
            height = $(window).innerHeight(),
            contentHeight = height / 4;

        $("#title").animate({ 'font-size': '5vmax' }, 500);
        $("#tfheader").animate({ 'margin-top': '0vh' });
        $('.graphstylestart').height(height-contentHeight);
        $('.graphstyle').height(height - contentHeight);
        $("#graph2").css('margin-top', height);
        $("#graph3").css('margin-top', height * 2);
        $("#graph4").css('margin-top', height * 3);
        $("#graph5").css('margin-top', height * 4);
        $("#content2").css('margin-top', height - contentHeight);
        $("#content3").css('margin-top', height - contentHeight);
        $("#content4").css('margin-top', height - contentHeight);
        $("#content5").css('margin-top', height - contentHeight);
        $('.content').height(contentHeight);
        setParallax();
        $("#middle").animate({ 'margin-top': '50px' }, 700, 'swing', function () {
            $('.loading-container').show();
            $('#explanation').show({ complete: function () { $("#footerSpace").animate({ 'margin-top': '0vh' }, 'fast'); } })
        });
    };



    $('#submit').click(function () {
        if ($('#search').val() != 'undefined') {
            //$('#info').hide();
            var height = $(window).height();
            $('.loading_container').css('position', 'fixed');
            $('.loading_container').css('top', height / 2);
            $('.loading').css('position', 'fixed');
            $('.loading').css('top', height / 2);

            slideUp();
            $('.loading-container').show();
            $.ajax('@Url.Action("search", "Graph")', {
                method: 'POST',
                data: { search: $('#search').val() },
                success: handleResults
            });

        }
    });
    $('#search').keypress(function(e){
        if(e.which == 13){
            $('#submit').click();
        }
    });

    function setParallax() {
        var windowHeight = $(window).height(),
            footerHeight = $('footer').height(),
            heightDocument = (windowHeight) - ($('.content').height());

        $('#scroll-animate, .scroll-animate-main').css({
            'height': ((windowHeight*5)) + 'px'
        });

        $('.wrapper-parallax').css({
            'margin-top': (windowHeight - (windowHeight/4)) + 'px'
        });

        window.onscroll = function () {
            var scroll = window.scrollY;

            $('.scroll-animate-main').css({
                'top': '-' + scroll + 'px'
            });

            for (var i = 0; i < 4; i++) {
                if (scroll > points[i]) {
                        checks[i] = true;
                }
                else
                        checks[i] = false;
            }
            for (var i=0;i<4;i++){
                if(checks[i]==true){
                    $(graphs[i]).css('top', '0px');

                    $(graphs[i]).css('margin-top', '50px');
                    $(graphs[i]).css('position', 'fixed');
                }
                else{
                    $(graphs[i]).css('top', '');
                    $(graphs[i]).css('margin-top', points[i]);
                    $(graphs[i]).css('position', 'relative');
                }
            }
            if(scroll> points[3])
            {
                $('#content5').css('bottom', '0px');
                $('#content5').css('position', 'fixed');
                $('#content5').css('width', '100%');
            }
            else
            {
                $('#content5').css('bottom', '');
                $('#content5').css('position', 'relative');

            }
        }
    }
</script>

