
@{
    ViewData["Title"] = "Location";
}
<style>
    body {
        background: #414042;
    }

    .stroke {
        fill: none;
        stroke: #9D9D9D;
        stroke-width: 3px;
    }

    .fill {
        fill: #353535;
    }

    .graticule {
        fill: none;
        stroke: #9D9D9D;
        stroke-width: .5px;
        stroke-opacity: .5;
    }

    .land {
        fill: #222;
    }

    .boundary {
        fill: none;
        stroke: #000;
        stroke-width: 1px;
    }
</style>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <h1 class="col-md-8" id="tweettext">Locations of Found Tweets</h1>
    <div class="col-md-2"></div>
</div>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="map"></div>
    <div class="col-md-2"></div>
</div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!--<script src="//d3js.org/d3.v3.min.js"></script>-->
    <script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script>
 

        function handleResults(data)
        {
            pinmap(data, '#map');

        }

        $.ajax({
            url: '@Url.Action("pinmapjson", "Graph")',
            type: "GET",
            success:handleResults});

    </script>

