@{
    ViewData["Title"] = "# over Time";
}
<div class="col-md-12" id="graph">
    <p id="tweettext"></p>
    <svg id="holder"></svg>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
<script type="text/javascript">
    $ = jQuery;
    function handleResults(data)
    {
        timegraph(d3, data, '#holder');
    }
    
    $('#holder').attr("width",$('#holder').parent().width());
    $('#holder').attr("height",($('#holder').width() / 2));

    $.ajax('@Url.Action("timejson", "Graph")', {
        method: 'GET',
        success: handleResults
    });

    /*function timegraph(d3, data) {
        var svg = d3.select("svg"),
        margin = { top: 20, right: 20, bottom: 30, left: 50 },
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var parseTime = d3.timeParse("%m/%d/%Y %H:%M");

        var x = d3.scaleTime()
            .rangeRound([0, width]);

        var y = d3.scaleLinear()
            .rangeRound([height, 0]);

        var line = d3.line()
            .x(function (d) { return x(d.date); })
            .y(function (d) { return y(d.count); });

        var color = d3.scaleOrdinal().range(['#E1004C', '#00A47F', '#FF6200', '#70E500', '#00644E']);

        data.forEach(function (d){
            d.date = parseTime(d.date);
            d.count = +d.count;
        }
        );

        x.domain(d3.extent(data, function (d) { return d.date; }));
        y.domain(d3.extent(data, function (d) { return d.count; }));

        g.append("g").attr("stroke", "#9d9d9d")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .select(".domain").styles({ stroke: "#9d9d9d" });

        g.append("g").styles({ stroke: "#9d9d9d" })
            .call(d3.axisLeft(y)).select(".domain").styles({ stroke: "#9d9d9d" })
            .append("text")
            .attr("fill", "#9d9d9d")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "0.71em")
            .attr("stroke", "#9d9d9d")
            .attr("text-anchor", "end")
            .style("font-size","1vh")
            .text("# of times Hashtag was used");

        g.append("path")
            .datum(data)
            .attr("fill", "none")
            .attr("stroke", function (d) { return color(d.date); })
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 5)
            .attr("d", line);
        }*/
</script>

    

