@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset password confirmation";
}

<p>Your password has been reset <a asp-controller="Account" asp-action="Login"> Click here to login</a> </p>
